doctype html
html
   head
      link(rel='stylesheet',type='text/css',href='css/profile.css')
      include head.html
      title 使用说明
   body
      include nav.html
      include user.html
      .container
         .row
            include left-side.html
            include instruction-right.html
      include footer.html
      include script.html




