doctype html
html
    head
        include head.html
        link(rel='stylesheet',type='text/css',href='css/login.css')
        title 登录
    body
        include nav.html
        include nav-figure.html
        include login.html
        include footer.html
        include script.html
        script(src='js/md5.js')
        script(src='js/login.js')