doctype html
html
    head
        include head.html
        link(rel='stylesheet',type='text/css',href='css/pool.css')
        title 策略池11
        include nav.html
        include nav-figure.html
        include pool-table.html
        include footer.html
        include script.html
        script(src='js/jquery.pagination.js')
        script(src='js/pool.js')

