//
   Created by bxy on 15/5/23.

html
   head
      include head.html
      link(rel='stylesheet',type='text/css',href='css/bxy.css')
      link(rel='stylesheet',type='text/css',href='css/tipsy.css')
      link(rel='stylesheet',type='text/css',href='css/privatedetail.css')
      title 策略详情
   body
      include nav.html
      include nav-figure.html
      include private-detail-content.jade
      include footer.html
      include script.html
      script(src='js/highstock.src.js')
      script(src='http://code.highcharts.com/stock/modules/exporting.js')
      script(src='js/jquery.tipsy.js')
      script(src='js/all_stocks.js')
      script(src='js/private-detail.js')