doctype html
html
   head
      include head.html
      link(rel='stylesheet',type='text/css',href='css/register.css')
      title 注册
   body
      include nav.html
      include nav-figure.html
      include  register.html
      include footer.html
      include script.html
      script(src='js/md5.js')
      script(src='js/register.js')
