doctype html
html
   head
      include head.html
      link(rel='stylesheet',type='text/css',href='css/generation.css')
      title 生成的策略
   body
      include nav.html
      include nav-figure.html
      .container
         .row
            include left-side.html
            include instruction-right.html
      include footer.html
      include script.html