doctype html
html
   head
      include head.html
      //link(rel='stylesheet',type='text/css',href='css/validationEngine.jquery.css')
      link(rel='stylesheet',type='text/css',href='css/jquery-ui.css')
      link(rel='stylesheet',type='text/css',href='css/tool.css')
      title 新建策略1
   body
      include nav.html
      include nav-figure.html
      .container
         .row
            include  tool-content.html
      include footer.html
      include script.html
      script(src='js/bootstrap.min.js')
      script(src='js/jquery-ui.js')
      script(src='js/jquery-ui-slide.min.js')
      script(src='js/api.js')
      script(src='js/common.js')
      script(src='js/all_stocks.js')
      script(src='js/tool.js')



